.all{
	font-family: "Lato";
	color: #fff;
	
}

#content{
	margin : auto;
	width: 900px;
}

.boundingBox{	
	text-align:center;
    background:#003152;
	padding: 15px 2px 15px 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;

}
.boundingBoxLeft{	
	text-align:center;
	margin-top:35.5px;
    background:#003152;
	padding: 15px 2px 15px 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;

	width: 320px;
	height: 50px;
}
#leftSection{
	float:left;
	width: 560px;
        height: 610px;
}
#rightSection{
	float:left;
    background:#003152;
	margin-left: 20px;
	width: 300px;	
    height: 490px;
}
.start{
	float:left;
	margin-top:20px;
	margin-left:20px;
	width:145px;
	color: green;
}
.start a{
	color:green;
	text-decoration: none;
}
.top {
	background-color: #003152;
	position: fixed;
	top: 0;
	margin-left: -495px;
	width: 110%;
	z-index: 100;
	text-align: center;
	color: #fff;
	/*padding-bottom: 20px;*/
  }


.b1 {
	background-color: #28A745;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 5px;
  }
  
  .b2 {
	background-color: #DC3545;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 5px;
  }
  .b3 {
	background-color: #FFC107;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 5px;
  }