* {
  font-family: "Lato";
}
#content {
  margin: auto;
  width: 1000px;
}

.boundingBox {
  text-align: center;
  background: #003152;
  background-color: #003152;
  padding: 15px 2px 15px 2px;
  border-radius: 5px;
}
.boundingBoxLeft {
  font-size: 18px;
  text-align: center;
  background: #003152;
  background-color: #003152;
  padding: 15px 2px 15px 2px;
  border-radius: 5px;
  width: 600px;
  height: px;
}
#leftSection {
  float: left;
  width: 660px;
  height: 900px;
}
#rightSection {
  margin-top: 0;
  float: left;
  background: #003152;
  background-color: #003152;
  margin-left: 20px;
  width: 320px;
  height: 600px;
}
.start {
  float: left;
  margin-top: 170px;
  margin-left: 20px;
  width: 145px;
  color: green;
}
#cont1 {
  background-image: url("./../images/298.gif");
  height: 300px;
  width: 300px;
}
