*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --cell-size: 300px;
}
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: left;
  align-content: left;
  /*justify-items: center;*/
  /*align-items: center;*/
  grid-template-columns: repeat(6, auto);
}
.boardhelp {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: left;
  align-content: left;
  grid-template-columns: repeat(1, auto);
}
.boardSR {
  width: 100vw;
  height: 120vh;
  display: grid;
  justify-content: left;
  align-content: left;

  grid-template-columns: repeat(4, auto);
}
.cell {
  width: 18vw;
  height: 35vh;
  background-color: black;
  border: 0.1vw solid white;
}
.cellOption {
  border-top: 0.1vh solid white;
  width: 20vw;
  height: 35vh;
  border-left: 0.1vw solid white;
}
.cellhelp {
  width: 1500px;
  height: 500px;
  border: 20px solid white;
  display: block;
}
#new1 {
  position: relative;
  margin-left: 47%;
  margin-top: 10px;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.btn1 {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.btnI,
.btnI:focus,
.btnI:hover {
  background-color: skyblue;
}
.btnP,
.btnP:focus,
.btnP:hover {
  background-color: lightgreen;
}
.btnH,
.btnH:focus,
.btnH:hover {
  background-color: #ffcccb;
}
.btnC {
  background-color: skyblue;
}
.btnC:focus {
  background-color: skyblue;
}
.btnC:hover {
  background-color: skyblue;
}
.btnH {
  background-color: silver;
}
.btnH:focus {
  background-color: silver;
}
.btnH:hover {
  background-color: silver;
}
.btn1:hover {
  background-color: lightgreen;
}
.btn1:focus {
  background-color: lightgreen;
}
#cont1,
#cont2,
#cont3,
#cont4,
#cont5,
#cont6 {
  position: relative;
  /*width: 400px;*/
}
#name {
  /*position: relative;*/
  width: 30%;
  height: 14px;
}
.set {
  display: grid;
  font-family: "Lato";
  /*font-style: oblique;*/
  justify-content: center;
  align-content: center;
  border-bottom: 1px;
  color: white;
}
.up {
  border-top: 10px;
}
.top {
  display: flex;
  flex-flow: row nowrap;
  background-color: #003152;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  /*padding-bottom: 20px;*/
}

.topitem {
  flex-grow: 1;
  margin-right: 1vw;
}
/* The container */

/* Hide the browser's default radio button */

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}
#overlay0 {
  position: fixed;
  display: none;
  overflow: auto;
  width: 24%;
  height: 100%;
  top: 20vh;
  /*left: 0;*/
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 93;
  cursor: pointer;
}

#text {
  position: relative;
  top: 40%;
  left: 50%;
  font-size: 22px;
  padding: 10px;
  font-family: "Lato";
  color: black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#submitq {
  background-color: blue;
}

.flexing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexingbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexing1 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexing cont {
  width: 10vw;
  height: 10vh;
}

#new {
  position: relative;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 10px;
}

.flex-container {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
}

.flex-container .labels {
  padding: 10px;
  font-family: "Lato";
  /*background: #dbdfe5;*/
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
}

.flex-container .labels1 {
  padding: 10px;
}

#overlay1 {
  position: fixed;
  display: none;
  overflow: auto;
  width: 27%;
  height: 100%;
  top: 23vh;
  /*left: 0;*/
  right: 10vw;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 93;
  cursor: pointer;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-family: Courier New;
  font-style: oblique;
  color: silver;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#overlay2 {
  position: fixed;
  display: none;
  width: 15%;
  height: 35%;
  top: 40%;
  left: 45%;
  border-radius: 100%;
  /*right: 0;*/
  /*bottom: 0;*/
  /*background-color: rgba(0, 0, 0, .8);*/
  z-index: 3;
  cursor: pointer;
}

#result1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-family: Courier New;
  font-style: oblique;
  color: silver;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#back2Top {
  width: 150px;
  line-height: 150px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  border-radius: 50%;
  right: 50px;
  background-color: #4ee444;
  color: #555;
  text-align: center;
  font-size: 130px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #4ee44e;
  color: #fff;
}

.atoms {
  display: flex;
  /*float: right;*/
  top: 0;
  flex-direction: column;
  /*border : solid lightgreen 2px;*/
  /*background-color: white;*/
}

.item {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  border-left: 0.1vw solid #003152;
  color: white;
}

.item + .item {
  margin-top: 5%;
}

.slct {
  display: flex;
  flex-wrap: wrap;
  float: center;
  align-items: center;
  justify-content: center;
}

.slct > div {
  flex: 0 50%;
}

.dotC {
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
  background-color: lightblue;
  /*display: inline-block;*/
}

.dotCC1 {
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
  background-color: magenta;
  /*display: inline-block;*/
}

.dotCC2 {
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
  background-color: orange;
  /*display: inline-block;*/
}

.dotCC {
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
  background-color: mediumseagreen;
  /*display: inline-block;*/
}

.dotO {
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 10px;
  /*display: inline-block;*/
}

.dotH {
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
  background-color: silver;
  margin-bottom: 10px;
  /*display: inline-block;*/
}

.dotS {
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
  background-color: yellow;
  margin-bottom: 10px;
  /*display: inline-block;*/
}

.image-swap1,
.image-swap2 {
  height: 50vh;
  width: 40vw;
}

#ri,
#ri1 {
  width: 25vw;
}

#smp {
  width: 15vw;
}

.grid-container {
  margin-top: 30vh;
  margin-left: 15vw;
  display: inline-grid;
  grid-gap: 4vw 10vh;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-cont {
  margin-top: 25vh;
  margin-left: 10vw;
  display: inline-grid;
  grid-gap: 4vw 10vh;
}

.question {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.option1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /*width:1vw;*/
  /*height: 1vh;*/
}

.option2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.option3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.option4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.nextbut {
  display: none;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#img2 {
  display: none;
}
