* {
  font-style: "Lato";
}

#content {
  margin: auto;
  width: 1200px;
}

.boundingBox {
  margin-top: 4rem;
  text-align: center;
  padding: 15px 2px 15px 2px;
  border-radius: 5px;
}
.boundingBoxLeft {
  text-align: center;
  padding: 15px 2px 15px 2px;
  border-radius: 5px;
}
.boundingBoxRight {
  text-align: center;
  background: #003152;
  padding: 15px 2px 15px 2px;
  border-radius: 5px;
}
#leftSection {
  float: left;
  width: 200px;
}

#rightSection {
  float: left;
  margin-left: 20px;
  width: 940px;
}
#start {
  clear: both;
  float: right;
  width: 150px;
}
#start a {
  text-decoration: none;
}
#n2 {
  margin-left: 30px;
  position: absolute;
  z-index: 2;
}
.row {
  position: fixed;
}

#menu1 {
  margin-left: 20px;
  margin-top: 10px;
}
h5:hover {
  cursor: pointer;
  color: #003152;
}
#computer {
  position: fixed;
}
#cix,
#cix1,
#cix2,
#cix3,
#cix4,
#cix5 {
  cursor: pointer;
  opacity: 0%;
}
